/* reset */
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

ul, ol, li {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

/* normalize */
body {
  margin: 0 auto;
  width: 100%;
  background: white;
  font: 14px/1.2 Arial, Tahoma;
  color: #555555; }

a {
  text-decoration: none; }

a:link {
  color: #ffaa6a; }

a:visited {
  color: #ffaa6a; }

a:hover {
  color: #ffd9bd; }

a:active {
  color: #ffaa6a; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #555555; }

h1 {
  font-size: 38px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

strong, em {
  font-weight: bold; }

q, blockquote {
  padding: 20px 30px;
  color: #b3b3b3;
  font-style: italic; }

ul, ol {
  padding: 0; }

/* custom layout */
html {
  height: 100%; }

body {
  float: left;
  width: auto;
  min-width: 100%;
  height: 100%;
  -webkit-text-size-adjust: none; }

.body-wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background: #f0f0f0; }

.aside {
  position: absolute;
  overflow: visible;
  width: 220px;
  height: 100%;
  background-color: #444442; }

.spliter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 220px;
  width: 3px;
  border: 1px solid #c9c9c9;
  background-color: #d5d5d5; }

.main {
  position: relative;
  display: inline-block;
  margin-left: 225px; }

.list-wrapper {
  width: 100%;
  padding: 0 150px 200px 0; }

/* custom */
.m-logo .logo {
  position: relative;
  margin: 24px 18px 70px;
  width: 90px;
  height: 56px;
  background-image: url(images/logo.png); }

.m-setting {
  position: absolute;
  overflow: hidden;
  top: 25px;
  right: 20px; }
  .m-setting > .w {
    float: right; }
  .m-setting .item {
    display: block;
    visibility: hidden;
    float: right; }

.m-setting:hover .item {
  visibility: visible; }

.m-setting-dialog {
  display: none;
  position: absolute;
  z-index: 100;
  left: 100px;
  top: 40px;
  background: #e9e9e9;
  border: 1px solid #e1e1e1; }
  .m-setting-dialog .editor {
    display: block;
    margin: 30px 10px 10px;
    padding: 10px;
    width: 300px;
    height: 400px; }
  .m-setting-dialog .button {
    float: right;
    margin: 8px 10px 8px 0;
    padding: 4px 10px;
    color: #5a5a5a;
    text-align: center; }
  .m-setting-dialog .submit {
    background: #89e780;
    border: 1px solid #80e178; }
  .m-setting-dialog .cancel {
    background: #f7957f;
    border: 1px solid #ef8b75; }

.m-menu {
  position: relative; }
  .m-menu > .w {
    position: relative;
    overflow: hidden; }
  .m-menu .m-menu-header {
    display: none; }
    .m-menu .m-menu-header .title {
      margin: 16px 0 24px;
      font: 12px/1.2 arial;
      font-weight: 800;
      color: #888888;
      text-align: center; }
  .m-menu .item-container {
    position: relative;
    margin: 0; }
    .m-menu .item-container .item {
      margin-bottom: 4px;
      color: #dfd8d5; }
      .m-menu .item-container .item .link-js .menu-close {
        display: none;
        margin-top: 1px;
        width: 11px;
        height: 11px;
        background-position: -120px -50px; }
      .m-menu .item-container .item .link-js.highlight .menu-close {
        display: block; }
      .m-menu .item-container .item .link-js.dim:hover .menu-close {
        display: block; }
      .m-menu .item-container .item .link-js.highlight {
        color: #f9a628; }
      .m-menu .item-container .item .link-js.dim {
        color: #93c72b; }
      .m-menu .item-container .item .link-js:hover {
        background: #4a4a48;
        color: #fbc169; }
  .m-menu .m-mediablock {
    display: block;
    overflow: hidden;
    padding: 4px 0; }
    .m-menu .m-mediablock .img {
      display: none;
      float: left;
      margin: 5px 0 5px 12px;
      width: 18px;
      height: 18px; }
    .m-menu .m-mediablock .title {
      display: inline-block;
      position: relative;
      float: left;
      margin: 0 20px; }
    .m-menu .m-mediablock .extra {
      float: right;
      margin: 2px 20px; }

.m-list-wrapper {
  position: relative;
  float: left;
  margin-right: 10px;
  min-width: 540px;
  width: 610px; }
  .m-list-wrapper .m-list {
    position: relative; }
    .m-list-wrapper .m-list .m-list-header-wrapper {
      position: relative;
      z-index: 200; }
      .m-list-wrapper .m-list .m-list-header-wrapper > .w {
        position: relative;
        float: left;
        width: 100%; }
      .m-list-wrapper .m-list .m-list-header-wrapper .m-function {
        position: relative;
        background-color: #f1f1f1;
        border: 1px solid #e1e1e1; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-function > .w {
          overflow: hidden;
          margin: 15px 18px 22px; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-function .list-style {
          float: right;
          margin-bottom: 28px; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-function .list-style .item {
            float: right;
            margin-left: 5px;
            background-color: #767672; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-function .filter-container {
          position: relative;
          float: left;
          margin-bottom: 12px; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-function .filter-container .icon-filter {
            display: none;
            position: absolute;
            top: 6px;
            left: 4px;
            width: 12px;
            height: 12px;
            background-position: -140px -30px; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-function .highlight-container {
          position: relative;
          float: left;
          clear: left; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-function .highlight-container .icon-highlight {
            display: none;
            position: absolute;
            top: 6px;
            left: 4px;
            width: 12px;
            height: 12px;
            background-position: -160px -30px; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-function .c-input-style .box {
          border-bottom: 2px solid #dfe1dc;
          color: #a7a59a; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-function .c-input-style .box .box-text {
            display: block;
            overflow: hidden;
            margin: 4px 18px 4px 8px;
            min-width: 3em;
            max-width: 320px;
            height: 1em; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-function .c-input-style .box .box-editor {
            display: none;
            margin: 0;
            padding: 4px 8px 4px 8px;
            min-width: 12em;
            max-width: 320px;
            height: 1em;
            border: 1px solid #e2e2e2;
            background-color: #fafafa; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-function .c-input-style .box.edit {
          background-color: #dee1da; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-function .c-input-style .box.edit .box-text {
            display: none; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-function .c-input-style .box.edit .box-editor {
            display: block; }
      .m-list-wrapper .m-list .m-list-header-wrapper .m-list-header {
        overflow: hidden;
        background-color: #e3e3e3;
        border-bottom: 2px solid #c3c3c3; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-list-header > .w {
          overflow: hidden;
          padding: 0.8em 0; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-list-header .title {
          float: left;
          margin: 0 22px;
          font-size: 18px;
          font-weight: bold;
          color: #8b8b8b; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-list-header .img {
          float: left;
          width: 18px;
          height: 18px; }
        .m-list-wrapper .m-list .m-list-header-wrapper .m-list-header .functions {
          float: right;
          margin-right: 18px; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-list-header .functions .item {
            float: left; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-list-header .functions .refresh {
            margin-right: 5px;
            width: 54px;
            height: 20px;
            background-color: #dfdfdf;
            background-position: -120px 0; }
          .m-list-wrapper .m-list .m-list-header-wrapper .m-list-header .functions .list-close {
            width: 18px;
            height: 20px;
            background-color: #dfdfdf;
            background-position: -180px 0; }
    .m-list-wrapper .m-list .m-list-inner {
      position: relative;
      margin: 25px 20px 0; }
      .m-list-wrapper .m-list .m-list-inner .item {
        margin-bottom: 14px; }
    .m-list-wrapper .m-list .m-mediablock {
      overflow: hidden; }
      .m-list-wrapper .m-list .m-mediablock .media-wrapper {
        float: left; }
      .m-list-wrapper .m-list .m-mediablock .img {
        margin-right: 16px; }
        .m-list-wrapper .m-list .m-mediablock .img .img-target {
          display: block;
          width: 120px;
          height: 75px;
          border: 1px solid #333333; }
      .m-list-wrapper .m-list .m-mediablock .content-wrapper {
        overflow: hidden; }
      .m-list-wrapper .m-list .m-mediablock .title {
        display: inline-block;
        overflow: hidden;
        margin-bottom: 4px;
        height: 1.2em;
        font-size: 1em;
        font-weight: 600;
        color: #584a40; }
      .m-list-wrapper .m-list .m-mediablock .title:hover {
        color: #112211; }
      .m-list-wrapper .m-list .m-mediablock .description {
        overflow: hidden;
        margin-bottom: 4px;
        height: 2.4em;
        font-size: 13px;
        color: #7e7964; }
      .m-list-wrapper .m-list .m-mediablock .meta {
        overflow: hidden;
        height: 1.2em;
        font-size: 12px;
        color: #91918c; }
        .m-list-wrapper .m-list .m-mediablock .meta .meta-item {
          float: left;
          margin-right: 6px; }
  .m-list-wrapper .next-page {
    margin: 2em 0 0; }
    .m-list-wrapper .next-page .button {
      margin: 8px auto;
      padding: 10px 20px;
      text-align: center;
      background: #dddddd;
      border: 1px solid lightgrey; }
    .m-list-wrapper .next-page .button:hover {
      background: #d1d1d1;
      border: 1px solid #aeaeae; }

/* others */
.sprites {
  width: 22px;
  height: 22px;
  background-image: url(images/sprites.png); }

.icon-setting {
  background-position: -90px 0; }

.icon-list-style-normal {
  background-position: -60px 0; }

.icon-list-style-compact {
  background-position: -60px -30px; }

.icon-list-style-title {
  background-position: 0 0; }

.icon-list-style-grid {
  background-position: -30px -30px; }

.limit-one-line {
  overflow: hidden;
  height: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis; }

.limit-two-lines {
  overflow: hidden;
  height: 2.4em; }

.link-js {
  cursor: pointer; }

/* custom - list style */
.m-list-wrapper .m-list .m-list-header.clone > .w {
  padding: 4px 4px 6px;
  text-align: center; }
.m-list-wrapper .m-list .m-list-header.clone .title {
  display: inline-block;
  float: none;
  font-size: 16px;
  margin-top: 4px; }

.m-list-wrapper .m-list.list-style-compact .m-list-inner .item {
  margin-bottom: 8px; }
.m-list-wrapper .m-list.list-style-compact .m-mediablock {
  overflow: hidden; }
  .m-list-wrapper .m-list.list-style-compact .m-mediablock .media-wrapper {
    float: left; }
  .m-list-wrapper .m-list.list-style-compact .m-mediablock .img {
    margin-right: 13px; }
    .m-list-wrapper .m-list.list-style-compact .m-mediablock .img .img-target {
      display: block;
      width: 91px;
      height: 56px;
      border: 1px solid #555555; }
  .m-list-wrapper .m-list.list-style-compact .m-mediablock .content-wrapper {
    overflow: hidden; }
  .m-list-wrapper .m-list.list-style-compact .m-mediablock .title {
    overflow: hidden;
    font-weight: 600;
    margin: 2px 0 4px; }
  .m-list-wrapper .m-list.list-style-compact .m-mediablock .description {
    height: 2.5em;
    font-size: 14px;
    line-height: 1.25; }
  .m-list-wrapper .m-list.list-style-compact .m-mediablock .meta {
    display: none; }

.m-list-wrapper .m-list.list-style-title .m-list-inner .item {
  margin-bottom: 8px; }
.m-list-wrapper .m-list.list-style-title .m-mediablock {
  overflow: hidden; }
  .m-list-wrapper .m-list.list-style-title .m-mediablock .media-wrapper {
    display: none; }
  .m-list-wrapper .m-list.list-style-title .m-mediablock .content-wrapper {
    overflow: hidden; }
  .m-list-wrapper .m-list.list-style-title .m-mediablock .title {
    font-weight: 400; }
  .m-list-wrapper .m-list.list-style-title .m-mediablock .description {
    display: none; }
  .m-list-wrapper .m-list.list-style-title .m-mediablock .meta {
    display: none; }

.m-list-wrapper .m-list.list-style-compress___ .m-list-inner .item {
  margin-bottom: 8px; }
.m-list-wrapper .m-list.list-style-compress___ .m-mediablock {
  overflow: hidden; }
  .m-list-wrapper .m-list.list-style-compress___ .m-mediablock .media-wrapper {
    display: none; }
  .m-list-wrapper .m-list.list-style-compress___ .m-mediablock .content-wrapper {
    overflow: hidden; }
  .m-list-wrapper .m-list.list-style-compress___ .m-mediablock .title {
    overflow: hidden;
    margin-bottom: 4px;
    height: 1.2em;
    font-size: 1em;
    font-weight: 400;
    color: #362a22; }
  .m-list-wrapper .m-list.list-style-compress___ .m-mediablock .description {
    overflow: hidden;
    margin-bottom: 4px;
    height: 1.2em;
    font-size: 13px;
    color: #6d6654; }
  .m-list-wrapper .m-list.list-style-compress___ .m-mediablock .meta {
    display: none;
    overflow: hidden;
    height: 1.2em;
    font-size: 12px;
    color: #b19260; }

.m-list-wrapper .m-list.list-style-grid .m-list-inner .item {
  margin-bottom: 8px; }
.m-list-wrapper .m-list.list-style-grid .m-mediablock {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 8px;
  width: 122px;
  vertical-align: top; }
  .m-list-wrapper .m-list.list-style-grid .m-mediablock .media-wrapper {
    float: none;
    margin-bottom: 2px; }
  .m-list-wrapper .m-list.list-style-grid .m-mediablock .img .img-target {
    display: block;
    width: 120px;
    height: 75px;
    border: 1px solid #333333; }
  .m-list-wrapper .m-list.list-style-grid .m-mediablock .content-wrapper {
    overflow: hidden;
    height: 6em; }
  .m-list-wrapper .m-list.list-style-grid .m-mediablock .title-wrapper {
    overflow: hidden;
    margin-bottom: 4px;
    max-height: 4.7em; }
    .m-list-wrapper .m-list.list-style-grid .m-mediablock .title-wrapper a {
      display: block; }
    .m-list-wrapper .m-list.list-style-grid .m-mediablock .title-wrapper .title {
      display: inline;
      font-size: 1em;
      font-weight: 200;
      color: #584a40; }
  .m-list-wrapper .m-list.list-style-grid .m-mediablock .description {
    display: none; }
  .m-list-wrapper .m-list.list-style-grid .m-mediablock .meta {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    height: 1.2em;
    font-size: 12px;
    color: #91918c; }
.m-list-wrapper .m-list.list-style-grid .spliter-horizon.counter {
  display: none; }

.m-list .item.collepse {
  display: inline-block;
  width: 10%;
  height: 0;
  border-top: 3px solid #dddddd; }

.m-list .item.highlight-item {
  margin-left: -8px;
  padding-left: 4px;
  border-left: 4px solid #fbb45d; }

.m-list .m-list-inner .spliter-horizon.counter {
  display: none;
  position: absolute;
  float: right;
  right: 0;
  margin: -3px -23px 0 0;
  background: transparent;
  font: bold italic 22px/1 arial;
  color: #aaaaaa; }
.m-list .m-list-inner .spliter-horizon.date {
  display: none;
  margin: 8px 0;
  padding: 5px 10px;
  min-height: 12px;
  border-top: 1px solid #fbb55f;
  border-bottom: 1px solid #fbb55f; }
.m-list .m-list-inner .spliter-horizon.page {
  text-align: center; }
  .m-list .m-list-inner .spliter-horizon.page .inner {
    display: inline-block;
    margin: 10px 0 20px;
    padding: 6px 0;
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background: #e3e3e3;
    font-size: 12px;
    line-height: 1;
    color: #7a756f; }

.m-tooltip {
  position: fixed;
  z-index: 10000;
  top: 10px;
  right: 20px;
  padding: 10px; }
  .m-tooltip .m-tooltip-container .item {
    float: right;
    clear: both;
    border: 1px solid #dddddd;
    background: #eeeeee;
    margin-bottom: 4px; }
  .m-tooltip .m-mediablock {
    overflow: hidden; }
    .m-tooltip .m-mediablock .img {
      display: none;
      float: left;
      margin: 5px 8px 5px 5px;
      width: 16px;
      height: 16px;
      border: 1px solid #cccccc; }
    .m-tooltip .m-mediablock .title {
      float: left;
      margin: 4px 16px; }

.m-tooltip .m-tooltip-container .item.log {
  border: 1px solid #90cb60;
  background: #aee77e;
  margin-bottom: 4px;
  color: #607251; }
.m-tooltip .m-tooltip-container .item.warn, .m-tooltip .m-tooltip-container .item.error {
  border: 1px solid #dba67a;
  background: #efb98c;
  margin-bottom: 4px;
  color: #60533f; }

/*  helpers  */
.cf {
  *zoom: 1; }

.cf:after {
  clear: both; }

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0; }

.cl-l {
  clear: left; }

.cl-r {
  clear: right; }

.cl-b {
  clear: both; }

.fl-l {
  float: left; }

.fl-r {
  float: right; }

.pos-r {
  position: relative; }

.pos-a {
  position: absolute; }

.dir-r {
  direction: rtl; }

.text-l {
  text-align: left; }

.text-c {
  text-align: center; }

.text-r {
  text-align: right; }

.mg-h0 {
  margin-left: 0;
  margin-right: 0; }

.mg-v0 {
  margin-top: 0;
  margin-bottom: 0; }

.hide {
  display: none !important; }

.show {
  display: block !important; }
